@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
	}

	html,
	body,
	#root {
		background-image: url("/img/background.png");
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		font-family: "Plus Jakarta Sans", sans-serif;
		color: #ffffff;
	}

	body {
		font-family: "Plus Jakarta Sans", sans-serif;
	}

	.homepage-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.homepage-title {
		margin-top: 60px;
	}

	.homepage-h1 {
		font-size: 80px;
		font-weight: 900;
		color: #ffffff;
		line-height: 90px;
		text-align: center;
	}

	.homepage-gradient-text {
		background-image: linear-gradient(to right, #12e9f1, #bf7fea);
		background-clip: text;
		color: transparent;
		margin-left: 20px;
	}

	.homepage-prompt {
		display: flex;
		align-items: center;
		margin-top: 36px;
	}

	.council-button {
		display: flex;
		align-items: center;
		margin-top: 36px;
		color: transparent;
		margin-left: 16px;
		height: 100%;
	}

	.prompt-input {
		min-width: 488px;
		vertical-align: middle;
		margin-right: 12px;
		z-index: 11;
	}

	.submit-button {
		vertical-align: middle;
	}

	.dots-gif {
		width: 10%;
		position: absolute;
		top: 250px;
		justify-content: center;
		z-index: 10;
	}

	.council-content {
		color: white;
	}

	.council-title {
		font-size: 64px;
		font-weight: 900;
		margin-top: 100px;
	}

	.council-query-label {
		font-size: 16px;
	}

	.council-query {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 24px;
	}

	.council-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.council-cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
		gap: 20px;
		margin-bottom: 4px;
	}

	.council-card {
		width: 590px;
		min-height: 200px;
		padding: 20px;
		border-radius: 16px;
		background: linear-gradient(to bottom, #46537a, #203864);
		color: #ffffff;
		font-size: 16px;
	}

	.council-member-portfolio {
		width: 200px;
		min-height: 200px;
		padding: 20px;
		border-radius: 16px;
		color: #ffffff;
		font-size: 16px;
	}

	.council-card-message {
		margin-bottom: 20px;
	}

	.council-card-member {
		display: flex;
		align-items: center;
	}

	.council-card-member-image {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: grey;
		/* background-image: url('path/to/your-image.jpg');
    background-size: cover; */
		margin-right: 10px;
	}

	.council-reply-prompt {
		margin-top: 24px;
	}

	.council-reply-prompt-input {
		min-width: 488px;
		vertical-align: middle;
		margin-right: 12px;
	}

	.reply-button {
		vertical-align: middle;
	}

	.done-text {
		margin-top: 16px;
		text-decoration: underline;
	}

	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(
			28,
			34,
			68,
			0.7
		); /* Adjust the background color and opacity as needed */
		backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
		z-index: 999; /* Ensure the overlay is above other elements */
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	.pop-up-content {
		/* filter: blur(5px); */
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
		justify-content: center;
		align-items: center;
		z-index: 9999;
		color: #ffffff;
		padding-top: 60px;
		padding-left: 60px;
		max-height: 100%;
		overflow-y: auto;
	}

	.close-button {
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		position: absolute;
		top: 60px;
		right: 100px;
	}

	.close-icon {
		font-size: 52px;
		color: #ffffff;
	}

	.pop-up-title {
		font-size: 64px;
		font-weight: 900;
		color: #ffffff;
	}

	.pop-up-subtitle {
		font-size: 20px;
		font-weight: 600;
		color: #ffffff;
		margin-bottom: 40px;
	}
	.pop-up-image-convo {
		display: flex;
		height: 100%;
		min-width: 500px;
	}

	.pop-up-image {
		margin-right: 100px;
		min-width: 400px;
		min-height: 400px;
	}

	.user-message-blob {
		background: linear-gradient(to bottom, #d4d7e0, #9fb4dc);
		border-radius: 16px 16px 0px 16px;
		width: 590px;
		padding: 16px;
		color: #153747;
		margin-bottom: 16px;
		display: inline-block;
	}

	.member-message-blob {
		background: linear-gradient(to bottom, #46537a, #203864);
		border-radius: 16px 16px 16px 0px;
		width: 590px;
		padding: 16px;
		color: #ffffff;
		margin-bottom: 16px;
		display: inline-block;
	}
}

/* HERO COMPONENT */

.hero-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.hero-text {
	margin-left: 10%;
}

.hero-title {
	margin-top: 20%;
	text-align: left;
}

.hero-swappable-line {
	display: flex;
	align-items: centre;
	/* justify-content: center; */
}

.hero-h2,
.hero-swappable {
	margin: 0 10px;
	white-space: nowrap;
	font-size: 48px;
	font-weight: 900;
}

.hero-swappable-1 {
	background-image: linear-gradient(to bottom, #ff8e90, #ffa95c);
	background-clip: text;
	color: transparent;
}
.hero-swappable-2 {
	background-image: linear-gradient(to bottom, #9efd69, #12e9f1);
	background-clip: text;
	color: transparent;
}
.hero-swappable-3 {
	background-image: linear-gradient(to bottom, #bf7fea, #ff8e90);
	background-clip: text;
	color: transparent;
}

.hero-h1 {
	font-size: 80px;
	font-weight: 900;
	color: #ffffff;
	line-height: 90px;
	margin-bottom: 16px;
	margin-top: -8px;
	text-align: left;
}

.hero-h3 {
	font-size: 20px;
	font-weight: 900;
	color: #ffffff;
	line-height: 20px;
	text-align: left;
	margin-bottom: 24px;
	margin-left: 6px;
}

.hero-gradient-text {
	background-image: linear-gradient(to right, #12e9f1, #bf7fea);
	background-clip: text;
	color: transparent;
	margin-left: 20px;
}

@keyframes rotateWords {
	0% {
		opacity: 0;
		transform: translateY(-70%);
	}

	7%,
	24% {
		opacity: 1;
		transform: translateY(0);
	}

	43%,
	100% {
		opacity: 0;
		transform: translateY(70%);
	}
}
ul {
	position: relative;
	width: 100%; /* Set the width of the parent ul */
	height: 64px; /* Set the height of the parent ul */
	overflow: hidden; /* Hide overflow to prevent stacking */
}

li {
	position: absolute; /* Use absolute positioning */
	top: 0;
	animation: rotateWords 9s ease-in-out infinite backwards;

	white-space: nowrap;

	&:nth-child(2) {
		animation-delay: 3s;
	}
	&:nth-child(3) {
		animation-delay: 6s;
	}
}

.hero-button {
}

.council-model-container {
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;
	width: 80%;
	margin: 0px;
	padding: 0px;
}

/* Finale Page */

.disco-container {
	position: absolute;
	top: -125px;
	left: 0;
	width: 100%;
	height: 430px; /* For height of the disco ball */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1; /* Ensure it's above other content */
	background: rgba(
		0,
		0,
		0,
		0
	); /* Optional: Add a semi-transparent background */
}

.disco-gif {
	max-width: 100%;
	max-height: 100%;
}

/* .end-content {
	padding-bottom: 700px;
} */

.end-title {
	text-align: center;
}
.end-h1 {
	font-size: 64px;
	font-weight: 900;
	color: #ffffff;

	/* top: 200px; */
	padding-top: 200px;
	padding-bottom: 20px;
}

.end-h2 {
	font-size: 24px;
	font-weight: 900;
	color: #ffffff;
}

.endpage-gradient-text {
	background-image: linear-gradient(to right, #12e9f1, #bf7fea);
	background-clip: text;
	color: transparent;
	margin-left: 5px;
}

.refresh-button {
	display: inline-flex;
	height: 48px;
	padding: 0px 24px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
	border-radius: 6px;

	margin-top: 16px;
	z-index: 10;
}

#refresh {
	border-radius: 6px;
	background: var(
		--Blue-Gradient,
		linear-gradient(99deg, #12e9f1 0%, #bf7fea 100%)
	);
}

.pink-floor {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
